div {
  .ant-collapse {
    border-radius: 0px !important;
    .ant-collapse-item {
      width: 100% !important;
      .ant-collapse-header {
        font-weight: 700;
        width: 100% !important;
        background: rgba(255, 255, 255, 0.01) !important;
        backdrop-filter: blur(200px) !important;
      }
      .ant-collapse-content {
        background: rgba(255, 255, 255, 0.01) !important;
        backdrop-filter: blur(200px) !important;
      }
    }
	}
}
