.frame {
  background-color: transparent;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.content {
  position: relative;
  width: 100%;
  z-index: 10;
}

.div {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  position: relative;
}

